.panel {
    margin: 10px 0;
    padding: 10px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.panel li:before 
{
    content: " ";
    display: inline-block;
    width: 32px;
}

.panel li 
{
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    margin: 2px;
    padding-bottom: 10px;
}




/* pictures on main*/

.picmain 
{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 1000px;
}

    .picmain li {
        display: inline-block;
        width: 450px;
        margin: 2px;
        padding-bottom: 10px;
    }

    .picmain h2 {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .picmain a {
        color: white;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
    }

.pics {
    float: right;
    background-color: #867DC6;
    background: linear-gradient(#F5DCDC, #BEBEF4);
}

    .picmain li:hover {
     /*   background-color: rgba(255,255,255,0.8); */
        box-shadow: 0 0 5px #333333;
        transition: /*box-shadow removing specifier, applies to all*/ 1s ease-in;
        transform: scale(1.2) rotate(360deg);
    }

    .picmain li:nth-child(2n):hover {
        transform: scale(1.2) rotate(-360deg);
    }

    .picmain li {
        transition: 1s ease-out;
    }

/*Navigation bar code*/

    .navbar 
    {
    overflow: hidden;
    background-color: #333;
    }

        .navbar a:last-child {
            background: #ff0000;
            float: right;
        }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar a:hover 
    {
            background-color: red;
    }


/*Old Code Below*/

body {
    background: #242943;
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

    header 
    {
    position: relative;
    }

    .container 
    {
    margin: 0 auto;
    width: 940px;
    /*order : 1px solid #333333;*/
    }

    footer 
    {
    background-image: url(img/background-footer.png);
    background-repeat: repeat;
    clear: both;
    padding: 50px 0;
    min-width: 500px; /*attention*/
    }

    .social a 
    {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
    }

    .social a[href*="facebook.com"] 
    {
        background-image: url(img/facebook.png);
    }

    .social a[href*="linkedin.com"] 
    {
        background-image: url(img/link.jpg);
    }

    .social a[href*="instagram.com"] 
    {
        background-image: url(img/instagramicon.jpg);
    }


    footer .container 
    {
    position: relative;
    }

    .social 
    {
    position: absolute;
    top: 12px;
    right: 0;
    }

    .social li 
    {
        /*float: left same as display: inline-block*/
        display: inline-block;
        margin-left: 25px;
    }

